[submodule "LibreChat"]
	path = hosts/rpi4/LibreChat
	url = https://github.com/danny-avila/LibreChat
[submodule "hosts/rpi4/opengpts"]
	path = hosts/rpi4/opengpts
	url = https://github.com/langchain-ai/opengpts
[submodule "hosts/rpi4/codesherpa"]
	path = hosts/rpi4/codesherpa
	url = https://github.com/iamgreggarcia/codesherpa
