apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: librechat-http
spec:
  entryPoints:
    - web
  routes:
    - match: (ClientIP(`192.168.0.0/16`)) && HeaderRegexp(`Cookie`, `app_route=librechat`)
      kind: Rule
      services:
        - name: librechat-librechat
          port: 3080
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: librechat-https
spec:
  entryPoints:
    - websecure
  routes:
    - match: (ClientIP(`192.168.0.0/16`)) && HeaderRegexp(`Cookie`, `app_route=librechat`)
      kind: Rule
      services:
        - name: librechat-librechat
          port: 3080
  tls:
    secretName: generic-certificate
