main:
  config:
    db:
      type: postgresdb
      postgresdb:
        host: postgres-for-n8n-postgresql
    node:
      function_allow_builtin: "*"

  persistence:
    enabled: true
    type: dynamic
    storageClass: "nfs-client"

valkey:
  enabled: false

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - kang-stay-gmk
                - kang-rpi4
